<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <title>Sturdy Framework</title>
    {% endblock %}
    <link rel="stylesheet" href="/prism.css">
    {% if env.env == 'production' %}
    <link rel="stylesheet" href="/dist/{{ vite_manifest['resource/js/main.js'].css[0] }}"></link>
    {% else %}
    <link rel="stylesheet" href="http://{{ env.vite_url }}/resource/scss/main.scss">
    {% endif %}
</head>
<body>
{% block main %}{% endblock %}
{% if env.env == 'production' %}
<script type="module" src="/dist/{{ vite_manifest['resource/js/main.js'].file }}"></script>
{% else %}
<script type="module" src="http://{{ env.vite_url }}/@vite/client"></script>
<script type="module" src="http://{{ env.vite_url }}/resource/js/main.js"></script>
{% endif %}
<script src="/prism.js"></script>
</body>
</html>
