<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <title>Sturdy Framework</title>
    {% endblock %}
    <link rel="stylesheet" href="/prism.css">
    <link rel="stylesheet" href="http://{{ vite_url }}/resource/scss/main.scss">
</head>
<body>
{% block main %}{% endblock %}
<script type="module" src="http://{{ vite_url }}/@vite/client"></script>
<script type="module" src="http://{{ vite_url }}/resource/js/main.js"></script>
<script src="/prism.js"></script>
</body>
</html>
