@font-face {
  font-family: 'dejavu';
  src: url('../font/dejavu/woff2/DejaVuSerif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dejavu';
  src: url('../font/dejavu/woff2/DejaVuSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
