{% extends "layout/app.html" %}
{% block content %}
<main id="app">
    <section>
        <div class="container py-5">
            <h1 class="display-3">{{ title }}</h1>
            <p class="important">{{ description }}</p>
            <p>
                <a href="/docs/intro" class="btn btn-primary">Get Started</a>
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <h1>Features</h1>
            <ul>
                <li>Full-featured routing system.</li>
                <li>Customizable route actions.</li>
                <li>Auto compile when code changes.</li>
                <li>Autoload templates when updated.</li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
